<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="new-arrivals-link">
                New Arrivals 
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="" class="dropdown-item">Music</a>
                <a href="" class="dropdown-item ">Monitors</a>
                <a href="" class="dropdown-item ">Turntables</a>
                <a href="" class="dropdown-item ">Cleaning Products</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="labels-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Labels
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="labels-link">
                <a href="" class="dropdown-item">SilkCut Sounds</a>
                <a href="" class="dropdown-item">BIFB</a>
                <a href="" class="dropdown-item">Burner Records</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="faq-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="faq-link">
                <a href="" class="dropdown-item">Gift Vouchers</a>
                <a href="" class="dropdown-item">Returns</a>
                <a href="" class="dropdown-item">Queries</a>
            </div>
        </li>
    </ul>
</div>