<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="labels-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genres
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="labels-link">
                <a href="{% url 'products' %}?category=hiphop" class="dropdown-item">Hip-Hop</a>
                <a href="{% url 'products' %}?category=jazz" class="dropdown-item">Jazz</a>
                <a href="{% url 'products' %}?category=indie" class="dropdown-item">Indie Rock</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="labels-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="labels-link">
                <a href="{% url 'products' %}?category=turntable" class="dropdown-item">Turntables</a>
                <a href="{% url 'products' %}?category=speakers" class="dropdown-item">Monitors</a>
                <a href="{% url 'products' %}?category=cleaning" class="dropdown-item">Cleaning Equipment</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="faq-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="faq-link">
                <a href="" class="dropdown-item">Gift Vouchers</a>
                <a href="" class="dropdown-item">Returns</a>
                <a href="" class="dropdown-item">Queries</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Pre-Order!
            </a>
        </li>

    </ul>
</div>